.chunks{
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 5%;
    margin: 3%;
}

.checkbox{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    align-items: center;
}

.read_aloud{
    color: rgb(105, 105, 105);
}