.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: rgb(75, 75, 75);
    height: 20vh;
    color: white;
    margin-top: 60px;
}

.footer p{
    margin: 0;
    text-align: center;
}