.sidehug{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
}

.title{
    color: red;
    font-size: 100px;
}

.text{
    color: rgb(39, 31, 224);
    font-size: 20px;
}

.side_image{
    margin-right: 50px;
}